/* Searchbar FL fix 
input.search-input.ui-autocomplete-input {
    border: none;
    outline: none;
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    line-height: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1 70%;
    flex: 1 70%;
}

button.search-submit {
    color: #333;
    background-color: #e9ecef;
    border: none;
    font-size: 1.3rem;
    line-height: 1;
    padding: 0.4rem 1rem;
    cursor: pointer;
}

form#search-form {
  flex:1;
}
*/

/* Findologic */
.top-bar-items form {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

/* DisplayItemProps */
#DisplayCallistoItemPropertiesTable {
    color: #6c757d !important;
    font-size: 80%;
    }
    
    
    #DisplayCallistoItemPropertiesTable th {
    padding-right: 25px;
    }
    

    
    
    .footer a:hover {
                color: #005571 !important;
                text-decoration: underline;
    }
    .footer-row p.bold {margin-top: 1rem;}
    
    footer {margin-top: 64px;padding: 12px 0 36px;border-top: 1px solid #ddd;	color: #999;}
    footer a, footer a:hover, footer a:focus {color: inherit;}
    .footer a {
        color: #008ebd;
    }
    footer strong {font-weight: normal;text-transform: uppercase;color: #444;text-rendering: optimizelegibility;}
    footer hr {	margin: 10px 0;}
    
    ul.image-list.zahlungsicons img {max-width: 60px;}
    .imgwrapper {position: relative;}
    ul.footerList {padding-left: 0;list-style: none;}
    .footerLink {color: #aaa;}
    .footerLink:hover {color: #888;}
    .footer-row{background: #1e1e1e;}
    .footer-row h4, .footer-row p{color:white;}
    .footer-row a {text-transform: uppercase;}
    footer{background-color:#000;color:#fff;border-top:1px solid #ccc;margin-top:0px;padding: 12px 0 !important;}
    
    footer img.center{margin:0 auto;text-align:center;}
    .image-list {list-style: none;padding: 0;text-align: center;}
    .image-list > li {display: inline-block;margin:2px 3px;/*margin: 2px 12px;*/vertical-align: middle}
    .img-responsive {display: block;max-width: 100%;height: auto;}
    .img-responsive.center {margin: 0 auto;}
    
    .footer-row{border-top: 1px solid #ddd;font-size:12px;}
    .footer-row h4, .footer-row p{color: #0b1072;}
    /*.footer.container-max {max-width: 100%;padding: 5px;}*/
    .footer .footer-content {max-width: 100%;}
    
    /* Bundle */
    .item-bundle {
        overflow: hidden;
        white-space: nowrap;
    }
    
    /* Bulletpoints */
    .bulletpoints ul {
        list-style-type: none;
        padding: 0 0 0 15px;
    }
    .bulletpoints ul li:before {
        color: #283b92;
        content: '\f00c';
        font-family: FontAwesome;
        margin-right: 15px;
    }
    
    
    .bulletpoints ul li {
        margin-top: 5px;
        padding-left: 1rem;
        text-indent: -2.1rem;
        text-align: justify;
        line-height: 1.2;
    }
    
    .bulletpoints {
        color: #6c757d !important
    }
    
    .bulletpoints br {
        display: none;
    }
    
    .widget-selected-filter .selected-filters {
        display: flex !important;
    }
    
    #uhrenrudloff-info{
        /* background-color: rgb(40, 45, 47); */
        color: rgb(255, 255, 255);
        border-bottom: 0px;
        z-index: 1070;
        padding-left: 0 !important;
        position: fixed;
        background-color: #343a40;
        }
        
    #uhrenrudloff-info ul {
    
        list-style-type: none;
        padding: 0;
        margin: 0;
    
    }
    
    #uhrenrudloff-info ul li a {
    color: rgb(255, 255, 255);
        color: #ffffff;
        display: block;
        width: 100%;
        /* background-color: aquamarine; */
        padding: 15px;
        text-align: center;
        /* margin: 5px; */
        margin-top: 5px;
        margin-bottom: 5px;
        float: left;
        /* font-weight: bold; */
        }
        
        #uhrenrudloff-info ul li a:hover {
        background-color: #6c757d;
    }

#DisplayCallistoItemPropertiesTable {
    width: 85%;
    margin: 15px auto;
    border: 1px solid #e3e7eb;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

.widget-text-shaddow-custom {
    text-shadow: 2px 3px 10px black;
    color: white;
    font-weight: bold;
}
